h1
{
    text-align: center;
    color: rgb(123, 121, 124);
}


#data-grid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #data-grid-table td, #data-grid-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #data-grid-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #data-grid-table tr:hover {background-color: #ddd;}
  
  #data-grid-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(123, 121, 124);
    color: white;
  }