<div *ngIf="FilterContext">
    <button mat-menu-item [matMenuTriggerFor]="vMenu2" (click)="$event.stopPropagation()">
    <span>{{FilterContext.FilterName}}</span>
  </button>
    <mat-divider></mat-divider>
    <mat-menu #vMenu2="matMenu" xPosition="before" [overlapTrigger]="false" [hasBackdrop]="true">

        <button mat-menu-item (click)="$event.stopPropagation()">
      <span>
        <div class="search-section" style="max-width: 160px !important">
          <mat-form-field appearance="legacy" style="position: relative">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Enter Keyword" autocomplete="off" #filterInputVal
              (keyup.enter)="searchBox_enterKeyPress($event)">
            <mat-icon matSuffix class="pointer" style="cursor: pointer;"
              (click)="searchBox_enterKeyPress(filterInputVal)">search</mat-icon>
            <mat-spinner [diameter]="15" *ngIf="(VisualState | async) === ViewState.Loading" class="setSearchSpinner">
            </mat-spinner>
          </mat-form-field>
          <small *ngIf="(VisualState | async) === ViewState.NoContent || (VisualState | async) === ViewState.Error
           || (VisualState | async) === ViewState.Forbidden" style="color: red;">No content found</small>
        </div>
      </span>
    </button>
        <div *ngIf="FilterContext.SelectMany">
            <mat-checkbox (click)="$event.stopPropagation()" class="mat-menu-item" [(ngModel)]="pValues.IsSelected" (change)="itemSelectionChanged(pValues)" *ngFor="let pValues of (ItemSource | async)" matTooltip="{{ pValues.DisplayName }}">{{ pValues.DisplayName }}
            </mat-checkbox>
        </div>
        <div *ngIf="!FilterContext.SelectMany">
            <button mat-menu-item [(ngModel)]="pValues.IsSelected" name="fieldName" ngDefaultControl (click)="itemClicked(pValues , $event)" *ngFor="let pValues of (ItemSource | async)" matTooltip="{{ pValues.DisplayName }}">{{ pValues.DisplayName }}
        </button>
        </div>
    </mat-menu>
</div>