/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	background: #FAFAFA;
}
.fa {
    font-size: 18px;
    color: #d8d9da;
    margin: 5px;
}

*:focus {
    outline: 0 !important;
}

* {
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
    // width: 8px;
    width: 4px;
    height: 0;
    background-color: var(--scroll-track) !important;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    background-color: var(--scroll-track) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-track-piece {
    width: 1px;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    background-color: var(--button-primary);
    // box-shadow: 0 0px 5px #040404;
    // color: white;
    height: 35px;
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
:root {
    /* Colors */
    --header-background: white;
    --header-text: #3f3f3f;
    --sidebar-background: #171930;
    --sidebar-bghighlight: white;
    --sidebar-highlightcolor: black;
    --button-deactive: #b3b3b3;
    --button-active: white;
    --button-primary: #736cc7;
    --placeholder-text: #999899;
    --background-color: #fafafa;
    --background-maincard: white;
    --background-subcard: white;
    --maincard-text: #3d3d3d;
    --card-subtext: #212121;
    --background-tags: #fafafa;
    --text-tags: #434c5e;
    --border-tags: #a3afc1;
    --footer-background: #f1f0f9;
    --footer-text: #7770c8;
    --mat-option-text: #212121;
    --mat-option-item: white;
    --mat-outline: #dfe3e9;
    --border-card: 1px solid #eff1f4;
    --shadow-header: 0px 0px 8px #cbcbcb;
    --shadow-sidebar: 0 0px 10px #171930;
    --shadow-subcard: 0 0px 2px #b3b0b0;
    --scroll-track: white;
    --scrollbar-color: #d8d9da;
}